<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="container" style="margin-top: 80px; "  >
        <header>
          <h1 style="margin-left:38%;">Флэшкарточкер</h1>
        </header>
      </div>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <nav class="navbar-inner">
          <ul class="pager">
            <li><%= link_to "Все Карточки", cards_path %></li>
            <li><%= link_to "Добавить карточку", new_card_path %></li>
          </ul>
        </nav>
      </div> 
  <%= yield %> 
  </body>
</html>
